.todo-container {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 2rem;
}

.todo-sections {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 2rem;
}

.todo-box {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 10px;
  width: 250px;
  background-color: #fff;
}

.heading-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type='text'] {
  padding: 0.5rem;
  margin: 0.5rem 0;
  width: 70%;
}

button {
  padding: 0.5rem 1rem;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.delete-button-heading {
  background-color: rgb(38, 214, 156);
}

button.delete-todo {
  background-color: transparent;
  border: none;
  color: #00ff62;
  cursor: pointer;
}